In [1]:
import pandas as pd
import numpy as np
import re

In [ ]:
df = pd.read_csv('KakaoTalk_Chat_SAI-A NLP팀_2021-05-04-20-16-01.csv')
df

In [6]:
def dateformat(y=0,m=0,d=0,h=0,mm=0,s=0):
    return "%d-%02d-%02d %02d:%02d:%02d"%(y,m,d,h,mm,s)

In [41]:
f = open('Talk_2021.5.3 23:58-1.txt', mode='r', encoding='utf-8')

file_name = f.readline()
save_date_re = re.compile('저장한 날짜 : ([0-9]{4})\. ([0-9]{1,2})\. ([0-9]{1,2})\. ([0-9]{2}):([0-9]{2})')
m = save_date_re.match(f.readline())
save_date = dateformat(int(m[1]), int(m[2]), int(m[3]), int(m[4]), int(m[5]))

f.readline() # 공백 제거
f.readline() # 공백 제거
f.readline() # 공백 제거

history = []
histline = ''
date = None

date_re = re.compile('([0-9]{4})년 ([0-9]{1,2})월 ([0-9]{1,2})일 ((월|화|수|목|금|토|일)요일)')
invite_re = re.compile('([0-9]{4})\. ([0-9]{1,2})\. ([0-9]{1,2})\. ([0-9]{2}):([0-9]{2}): ((.+)님이 .+ 초대했습니다.)')
chat_re = re.compile('([0-9]{4})\. ([0-9]{1,2})\. ([0-9]{1,2})\. ([0-9]{2}):([0-9]{2}), (.+) : (.+)')

chat_temp = ''

i=0
while True:
    line = f.readline()
    if not line: 
        break
    # print(line, end='')

    # chat
    m = chat_re.match(line)
    if m:
        date = dateformat(int(m[1]), int(m[2]), int(m[3]), int(m[4]), int(m[5]))
        user = m[6]
        content = m[7]
        history.append([date, user, content])
        continue
    # date
    m = date_re.match(line)
    if m:
        date = dateformat(int(m[1]), int(m[2]), int(m[3]))
        # print('aaaaaaaaaaaa' ,history[-1][2])
        continue
    # invite
    m = invite_re.match(line)
    if m:
        date = dateformat(int(m[1]), int(m[2]), int(m[3]), int(m[4]), int(m[5]))
        user = m[7]
        content = m[6]
        history.append([date, user, content])
        continue
    # \n chat
    history[-1][2] += line
df2 = pd.DataFrame(history, columns=['Date', 'User', 'Message'])

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602 entries, 0 to 601
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     602 non-null    object
 1   User     602 non-null    object
 2   Message  602 non-null    object
dtypes: object(3)
memory usage: 14.2+ KB

In [50]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599 entries, 0 to 598
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     599 non-null    object
 1   User     599 non-null    object
 2   Message  599 non-null    object
dtypes: object(3)
memory usage: 14.2+ KB

In [ ]:
print(df['Message'][16])
print(df2['Message'][16])

In [ ]:
df[0:50]

In [ ]:
df['new'] = np.where(df['Message'].eq(df2['Message']), 'OK', '')
for i in df.values:
    print(i)

In [ ]:
print(df['Message'])
print(df2['Message'])